__pycache__/
*.pyc
.venv/
venv/
.env
reference_data/raw_images/**/*.jpg
reference_data/raw_images/**/*.jpeg
reference_data/raw_images/**/*.png
reference_data/raw_images/**/*.webp
!reference_data/raw_images/**/.gitkeep
reference_data/debug_overlay/**/*.jpg
reference_data/debug_overlay/**/*.jpeg
reference_data/debug_overlay/**/*.png
reference_data/debug_overlay/**/*.webp
reference_data/raw_videos/**/*.mp4
reference_data/raw_videos/**/*.mov
reference_data/raw_videos/**/*.avi
reference_data/raw_videos/**/*.mkv
reference_data/raw_videos/**/*.webm
!reference_data/raw_videos/**/.gitkeep
